---
import Layout from "~/layout/layout.astro";
---

<Layout title="404" description="404 Page Not Found">
<section>
	<h1 class="">404</h1>
    <p class="">Houston, we have a problem.</p>
	<p class="">
			We couldn’t find that link.<br class="" /> Check the address or <a
						href="/"
						data-astro-prefetch
						class="">head back home</a
			>.
	</p>

</section>
</Layout>