---
import Layout from "~/layout/layout.astro";
import Project from "../components/Project.astro";

import { getProjects } from "~/lib/projects";

const projects = await getProjects();
---

<Layout>
	<p>
		<small class="text-neutral-500"
		  >IPA &nbsp; /ˈnɛks ɛl/ — no meaning, i made it up</small
		>
		<br />
  
		Hi there, I'm <strong>David</strong> aka <strong>Lost Saint</strong>. I like <strong
		  >working out</strong
		> and <strong>building things</strong>. I enjoy <strong
		  >language design</strong
		>, <strong>web development</strong> and I live on the <strong
		  >terminal</strong
		>.
	</p>
	<h2>Projects</h2>
	<section>
		{projects.map(project => <Project {project} />)}
	</section>

</Layout>
