---
import type { Project } from "../lib/projects";
import Card from "./Card.svelte";
import Link from "./Link.svelte";

type Props = {
	project: Project;
};

const {
	project: { repo: name, description, link },
} = Astro.props;
---

<Card client:load>

  <Link href={link}>
    <span class="">{name}</span>
  </Link>

  <span class="descr">{description}</span>

</Card>

<style>
  span.descr {
    margin-top: 5px;
    display: block;
  }
</style>